__pycache__/
*.pyc
.venv/
.env
.DS_Store
node_modules/
.dist/
.coverage
*.log
.mypy_cache/
.ruff_cache/
.pytest_cache/
.vscode/
wheels/
!wheels/
wheels/*
!wheels/.gitkeep
data/
raw_store/
parquet/
*.egg-info/
